#theImage {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#codegenLogo {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 10;
}

#searchForm{
  position: absolute;
  top: 20px;
  /*left: 18%;*/
  width: 100%;
  z-index: 8;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

#textbox{
  box-shadow:
   -1px -1px 0 #000;
    /*1px -1px 0 #000,*/
    /*-1px 1px 0 #000,*/
     /*1px 1px 0 #000;*/
}

#time {
  font-size: 124px;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
     position: relative;;
     top: 200px;

}

#newImage{
  color: #fff;
  position: fixed;
  right: 10px;
  bottom: 20px;
}
